{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

    <table border="2">
        <tr>
            <th>ID</th>
            <th>image</th>
            <th>Name</th>
            <th>lastname</th>
            <th>biography</th>
            <th>clinic_name</th>
            <th>clinic_address</th>
            <th>address</th>
        </tr>
        {% for i in pizzas %}
        <tr>
            <td>{{i.id}}</td>
               <td>{{i.image}} </td>
            <td>{{i.first_name }}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.Biography }}</td>
            <td>{{i.clinic_name}}</td>
            <td>{{i.clinic_address}}</td>
            <td>{{i.Address_line1}}</td>
            <td>
                <a href="{% url 'doctor_info' i.id %}">
                    <button>View</button>
                </a>
                <a href="{% url 'doctor-edit' i.id %}">
                    <button>Edit</button>
                </a>
                <a href="{% url 'doctor-delete' i.id %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </body>
    </html>

