{% extends "base.html" %}

{% block content %}



<a href="{% url 'index' %}"><button class="btn btn-primary">back button</button></a>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{alldata.title}}</td>
        <td>{{alldata.description}}</td>
        <td>{{alldata.created_date}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
