{% extends "base.html" %}

{% block content %}
{{alldata.title}}
<form action="{% url 'todoitems' id %}" method="post">

    {% csrf_token %}
    <div class="form-group">
  <label for="usr">Enter Title :</label>
  <input type="text" class="form-control" id="usr" name="title">
</div>
    <br>
     <div class="form-group">
  <label for="comment">Description:</label>
  <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
</div>
<button type="submit" class="btn btn-primary">submit</button>
    </form>

{% endblock %}